.currentUser {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userPhotoWrap {
  z-index: 999;
}

.userName {
  width: 140px;
  margin-left: 10px;

  font-size: 18px;
  color: var(--primary-text-color);
  z-index: 999;
}

.chatBtn {
  display: flex;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}

.chatLogo {
  width: 40px;
  height: 40px;
}

.signOutBtn {
  display: flex;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}

.signOutLogo {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .chatBtn {
    display: none;
  }
}
