.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google {
  display: flex;
  align-items: center;

  padding: 20px 40px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  box-shadow: 3px 3px 10px 3px var(--box-shadow-color);

  font-size: 24px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.spinner {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #dbdcef;
  border-right-color: var(--primary-bg-color);
  animation: spinner-anim 1s infinite linear;
}

@media screen and (max-width: 767px) {
  .page {
    width: 100vw;
    height: 85vh;
  }
}

@keyframes spinner-anim {
  to {
    transform: rotate(1turn);
  }
}
