:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #171c2c;
  --primary-bg-color: #00263f81;
  --secondary-bg-color: #00152481;
  --accent-bg-color: #383333;
  --border-color: #979797;
  --border-radius: 5px;
  --box-shadow-color: rgba(77, 77, 77, 0.329);
}
